<div class="main-content">
	<h2>
		<%= gravatar_for @user %>
		<%= @user.name %>
	</h2>
		
	<% if current_user.blank? %>
    	<%= render 'shared/poll_form' %>
	<% else %>
		<% if session[:current_polluser] == current_user.id %>
			<% if signed_in? %>
				<h2></h2><br />
				<h2>You have <%= pluralize(@user.polls.count, "Pitch") %> Graded</h2>
						
				<% if @user.polls.empty? %>
					<h4>Unfortunately, you currently don't have any graded pitches. 
					Please be sure to copy your Grademypitch Address into your pitches
					so you can receive grades.</h4><br />
					<h3>Your Address is:  www.grademypitch.com<%= user_path(@user) %></h3><br />
					<h4>When you receive grades they will appear on this page.</h4>
				<% end %>
		
				<% unless @user.polls.empty? %>
					<table class="container-body" summary="User grades">	
						<%= render @polls %>
					</table>
					<%= will_paginate @polls %>
				<% end %>
			<% end %>
		<% else %>
			<%= render 'shared/poll_form' %>	
		<% end %>
	<% end %>
	
</div>

<div class="side-content">
	<div class="page-flip">
		<h4 class="box-title">PROFILE</h4>
		<strong>Name</strong><br /> <%= @user.name %><br />
		<p></p>
		<strong>Address</strong><br /> www.grademypitch.com<br /><%= user_path(@user) %><br />
		<p></p>
		<!-- LINKED IN PROFILE <script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
		<script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/lohavichan" data-format="hover" data-related="false"></script>-->
		<strong>Overall Pitch Grade</strong>
		<% if @user.grade_status == "strong" %>
			<h4 class="strong_grade">STRONG</h4>
		<% end %>
		<% if @user.grade_status == "average" %>
			<h4 class="average_grade">AVERAGE</h4>
		<% end %>
		<% if @user.grade_status == "weak" %>
			<h4 class="weak_grade">WEAK</h4>
		<% end %>
		<% if @user.grade_status == "notyet" %>
			<h4 class="no_grade">NONE YET</h4>
		<% end %>
		<p>based on <%= pluralize(@user.polls.count, "grade") %> </p>
		      
	</div>
</div>

<div class="clear"></div>
